<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head th:replace="~{partial/head :: head}"></head>
<body id="skin-blur-lights">

        <header  th:replace="~{partial/header :: header}"></header>

        <div class="clearfix"></div>

        <section id="main" class="p-relative" role="main">

            <!-- 侧边栏 -->
            <aside  th:replace="~{partial/sidebar :: sidebar}"></aside>

            <!-- Content -->
            <section id="content" class="container">

                <!-- Messages Drawer -->
                <div  th:replace="~{partial/topmessage :: topmessage}"></div>
                <h4 class="page-title">群发调度监控</h4>
                <!-- button -->
                <div class="block-area" id="toggle-switch">
                    <h3 class="block-title">调度开关</h3>
                    <br>
                    <div class="make-switch switch-large has-switch" data-on="info" data-off="success">
                        <div class="switch-off switch-animate" style="" id="dispatchTask"><input type="checkbox" ><span class="switch-left switch-large switch-info">ON</span><label class="switch-large">&nbsp;</label><span class="switch-right switch-large switch-success">OFF</span></div>
                    </div>
                </div>

                <hr class="whiter" />

                <!-- Main Widgets -->

                <div class="block-area">
                    <div class="row">
                        <div class="col-md-8">
                            <!-- Dynamic Chart -->
                            <div class="tile">
                                <h2 class="tile-title">Server Process</h2>
                                <div class="tile-config dropdown">
                                    <a data-toggle="dropdown" href="" class="tile-menu"></a>
                                    <ul class="dropdown-menu pull-right text-right">
                                        <li><a href="">Refresh</a></li>
                                        <li><a href="">Settings</a></li>
                                    </ul>
                                </div>

                                <div class="p-t-10 p-r-5 p-b-5">
                                    <div id="dynamic-chart" style="height: 200px"></div>
                                </div>

                            </div>

                            <!-- Pies -->
                            <div class="tile text-center">
                                <div class="tile-dark p-10">
                                    <div class="pie-chart-tiny" data-percent="86">
                                        <span class="percent"></span>
                                        <span class="pie-title">New Visitors <i class="m-l-5 fa fa-retweet"></i></span>
                                    </div>
                                    <div class="pie-chart-tiny" data-percent="23">
                                        <span class="percent"></span>
                                        <span class="pie-title">Bounce Rate <i class="m-l-5 fa fa-retweet"></i></span>
                                    </div>
                                    <div class="pie-chart-tiny" data-percent="57">
                                        <span class="percent"></span>
                                        <span class="pie-title">Emails Sent <i class="m-l-5 fa fa-retweet"></i></span>
                                    </div>
                                    <div class="pie-chart-tiny" data-percent="34">
                                        <span class="percent"></span>
                                        <span class="pie-title">Sales Rate <i class="m-l-5 fa fa-retweet"></i></span>
                                    </div>
                                    <div class="pie-chart-tiny" data-percent="81">
                                        <span class="percent"></span>
                                        <span class="pie-title">New Signups <i class="m-l-5 fa fa-retweet"></i></span>
                                    </div>
                                </div>
                            </div>

                            <!--  Recent Postings -->
                            <div class="clearfix"></div>
                        </div>

                        <div class="col-md-4">


                            <!-- Activity -->
                            <div class="tile">
                                <h2 class="tile-title">任务统计</h2>
                                <div class="listview narrow">

                                    <div class="media">
                                        <div class="pull-right">
                                            <div class="counts" id="dispatchStatrtTime" th:text="${dispatchStatrtTime}"></div>
                                        </div>
                                        <div class="media-body">
                                            <h6>任务开始时间</h6>
                                        </div>
                                    </div>

                                    <div class="media">
                                        <div class="pull-right">
                                            <div class="counts" id="taskTolNum" th:text="${taskTolNum}"></div>
                                        </div>
                                        <div class="media-body">
                                            <h6>总任务数</h6>
                                        </div>
                                    </div>

                                    <div class="media">
                                        <div class="pull-right">
                                            <div class="counts" id="tolMobileNum" th:text="${tolMobileNum}"></div>
                                        </div>
                                        <div class="media-body">
                                            <h6>总号码数</h6>
                                        </div>
                                    </div>

                                    <div class="media">
                                        <div class="pull-right">
                                            <div class="counts" id="sqlRedisLength" th:text="${sqlRedisLength}"></div>
                                        </div>
                                        <div class="media-body">
                                            <h6>Sql Redis队列</h6>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="pull-right">
                                            <div class="counts" id="runningNum" th:text="${runningNum}"></div>
                                        </div>
                                        <div class="media-body">
                                            <h6>执行中数量</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </section>
        <script th:inline="javascript">
            window.onload = function(){
                var dispatch_status = [[${dispatch_status}]];
                if (dispatch_status == true) {
                    $("#dispatchTask").removeClass("switch-off");
                    $("#dispatchTask").attr("class", "switch-on");
                    $("#dispatchTask").removeAttr("onclick");
                    $("#dispatchTask").attr("onclick", "shutdownThreadStart();");
                } else {
                    $("#dispatchTask").removeClass("switch-on");
                    $("#dispatchTask").attr("class", "switch-off");
                    $("#dispatchTask").removeAttr("onclick");
                    $("#dispatchTask").attr("onclick", "sendThreadStart();");
                }
            }

        </script>
    </body>

</html>
